@import '../../styles/_vars';
@import '../../styles/_utils';


.products {
    @include flexCenter();
    background: $white;
    width: 90%;
    margin: 0 auto $space*2;
    border-radius: $border;

    .product {
        width: 100%;
        a {

            display: grid;
            grid-template-rows: 0.1fr 0.5fr 0.1fr;
            grid-template-columns: 1fr;
            gap: $smallSpace;
            padding: $space;
            box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.12);
    
    
            @media only screen and (min-width: $desktop) {
                grid-template-columns: 0.1fr 1fr 0.5fr;
                grid-template-rows: 1fr;
                width: 100%;
            }
            @media only screen and (min-width: $bigScreen) {
                grid-template-columns: 0.1fr 1fr 0.5fr;
                grid-template-rows: 1fr;
                width: 100%;
            }
    
            img {
                width: $imageSize;
                height: $imageSize;
                border-radius: $border;
                justify-self: center;
            }
            
    
            div {
                justify-self: flex-start;
            }
            
            .products__details {
                
                width: 70%;
                h1 {
                    margin: 0 0 $space;
                    font-weight: 500;
                }
    
                h2 {
                    font-weight: 400;
                }
            }


        }


    }

    @media only screen and (min-width: $desktop) {
        width: 80%;
    }
}