@import '../../styles/_vars';
@import '../../styles/_utils';


.products {
    @include flexCenter();
    background: $white;
    width: 90%;
    margin: 0 auto $space*2;
    border-radius: $border;

    @media only screen and (min-width: $desktop) {
        width: 80%;
    }

    @media only screen and (min-width: $bigScreen) {
        width: 70%;
    }

    .alert__message {
        display: flex;
        position: absolute;
        background: white;
        justify-content: center;
        align-items: center;
        transform: translateY(-50%);
        top: 50%;
        padding: 5rem;
        border-radius: 4px;
    }

    .product {
        width: 100%;
        a {

            display: grid;
            grid-template-rows: 0.1fr 0.5fr 0.1fr;
            grid-template-columns: 1fr;
            gap: $smallSpace;
            padding: $space;
            box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.12);
    
    
            @media only screen and (min-width: $desktop) {
                grid-template-columns: 0.1fr 0.8fr 0.5fr;
                grid-template-rows: 1fr;
                width: 100%;
            }
            @media only screen and (min-width: $bigScreen) {
                grid-template-columns: 0.1fr 0.8fr 0.5fr;
                grid-template-rows: 1fr;
                width: 100%;
            }
    
            img {
                width: $imageSize;
                height: $imageSize;
                border-radius: $border;
                justify-self: center;
                box-shadow: 0 1px 1px 0 rgba(0,0,0,.1), 0 -1px 2px 0 rgba(0,0,0,.1);
            }
            
    
            div {
                justify-self: flex-start;
            }

            .products__city {
                width: 100%;
                justify-self: center;
                text-align: center;
                padding: 16px 0 0;
            }
            
            .products__details {
                
                width: 100%;
                h1 {
                    margin: 0 0 $space;
                    font-weight: 500;
                }
    
                h2 {
                    font-weight: 400;
                }
            }


        }


    }


}