@import '../../styles/_vars';
@import '../../styles/_utils';


.breadcrumb {

    width: 90%;
    height: auto;
    margin: 16px auto;
    display: flex;
    flex-direction: column;
    color: #999999;

    @media only screen and (min-width: $desktop) {
        width: 80%;
        height: 50px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
    }

    @media only screen and (min-width: $bigScreen) {
        width: 70%;
        height: 50px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
    }
    div {



        @include flexCenter();
        background: transparent;
        justify-content: flex-start;
        flex-direction: row;
        padding: 0.2rem 0;
        width: auto;
        margin: 0;
        text-align: left;
        position: relative;
        left: 0;

        @media only screen and (min-width: $desktop) {
            background: transparent;
            justify-content: flex-start;
            flex-direction: row;
            padding: $smallSpace 0;
            width: auto;
            margin: 0;
            text-align: left;
            position: relative;
            left: 0;
        }

        p {
            align-self: flex-start;
        }
    }


}